@model IT_self_service_system.Models.CreateSolutionViewModel
@{
    ViewBag.Title = "Create";
}

<h2>Add new solution</h2>

<form action="/Solution/Create"  method="post" role="form" novalidate="novalidate">
    <div class="form-group">
        <label for="Title">Title:</label>
        <input type="text" class="form-control" id="title" name="title">
    </div>
    <div class="form-group">
        <label for="description">Description:</label>
        <textarea class="form-control" rows="5" id="description" name="description"></textarea>
    </div>

    <div class="form-group">
        <label for="ContactInfo">Contact info:</label>
        <input type="text" class="form-control" id="ContactInfo" name="ContactInfo" value="@Model.ContactInfo">
    </div>
    <div class="form-group">
        <label for="selectedCategory">Category:</label>

        <select class="form-control" id="selectedCategory" name="selectedCategory">


            @foreach (var c in Model.categoryList)
            {

                <option value=@c.Id>@c.Name</option>
            }
        </select>
    </div>
    <div class="form-group">
        <label for="selectedType">Type:</label>

        <select class="form-control" id="selectedType" name="selectedType">


            @foreach (var c in Model.stypeList)
            {

                <option value=@c.Id>@c.Name</option>
            }
        </select>
    </div>
    <br />
    <button type="submit" class="btn btn-success">Submit</button>
</form>