@model IT_self_service_system.Models.SolutionListViewModel
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@foreach (var s in Model.listSolution)
{<div class="row">

        <div class="col-md-1">
            <h1> @s.Id </h1>
        </div>
        <div class="col-md-11">

            <h3 class="media-heading">@s.Title</h3>
            <p>@s.Description</p>
        </div>
    </div>
    <hr />
}

