@model IEnumerable<IT_self_service_system.Models.CategoryViewModel>

<h2>Categories</h2>

<div class="row">
    <form action="/Solution/Result" method="post" role="form">
        <div class="input-group">
            <input type="text" name="q" id="q" class="form-control" placeholder="Search">
            <div class="input-group-btn">
                <button class="btn btn-default" type="submit">
                    <i class="glyphicon glyphicon-search"></i>
                </button>
            </div>
        </div>
    </form>
</div>
<hr />
<div class="row rowPinStyle">
    @foreach (var c in Model)
    {
        <div class="itemPinStyle well" >

            <a href="@Url.Action("Result", "Solution", new { q = c.Name, category = true })" > @c.Name</a>
        </div>
    }

</div>
